@import "~/normalize.css/normalize.css";
@import "~/reset-css/reset.css";
@import "~/nprogress/nprogress.css";
@import "./var.scss";
@import "./mixin.scss";
@import "./font.scss";
@import "./flex.scss";
@import "./common.scss";
@import "./animate.scss";

#nprogress .bar {
  background: var(--primary-color);
}

#nprogress .spinner-icon {
  border-left-color: var(--primary-color);
  border-top-color: var(--primary-color);
}

#nprogress .peg {
  box-shadow: 0 0 20px var(--primary-color), 0 0 15px var(--primary-color);
}

.logo {
  height: 40px;
}

a {
  text-decoration: none;
}

.content {
  width: 95%;
  max-width: 1300px;
  margin: 20px auto;
}

.box {
  height: 210px;
  transition: transform $animate-time ease-in-out;
  z-index: 0;
  position: relative;

  &:hover {
    z-index: 1;
    border-color: var(--primary-color);
    transform: scale(1.08);
    box-shadow: 0 0 10px -3px var(--primary-color);
  }
}
